@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow: auto;
    color: white;
    scrollbar-gutter: stable;
}

.swiper-pagination{
    --swiper-pagination-color: #1DD25E;
    --swiper-pagination-bullet-size: 9px;
    --swiper-pagination-bullet-width: 9px;
    --swiper-pagination-bullet-height: 9px;
    --swiper-pagination-bullet-inactive-color: #b7b7b7;
    --swiper-pagination-bullet-inactive-opacity: 0.2;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 7px;
    --swiper-pagination-bullet-vertical-gap: 7px;
    --swiper-pagination-bottom: 75px;
}

.swiper-button-prev, .swiper-button-next{
    --swiper-navigation-size: 30px;
    --swiper-navigation-color: #1ED760;
}


.input-volumen::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 8px;
    height: 8px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: -406px 0 0 400px #1ED760;
}

.input-volumen::-moz-range-thumb {
    width: 8px;
    height: 8px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: -406px 0 0 400px #1ED760;
}

.input-volumen::-ms-thumb {
    width: 8px;
    height: 8px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: -406px 0 0 400px #1ED760;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #010203;
}

::-webkit-scrollbar-thumb {
    background-color: #1ED760;
    border-radius: 10px;
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fadeIn {
    opacity: 1;
    animation: fadeIn 0.4s ease-out;
}

@media (max-width: 1019px) {
    .headerDesktop, .footerRepro{
        padding: 0 4rem;
    }

    .container {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .containerMisListas{
        justify-content: center;
        justify-items: center;
    }

    .containerMisListas h1{
        justify-self: center;
    }

    .presentacionImg, .mobilePlaylist, .infoAlbumMovil, .mobileInfArtista, .Menu-container, .infoArtistaMobile,  .mobileVolumen, .asidePerfilSesion{
        display: none;
    }

    .Menu-Movil{
        display: block;
    }
    
    .Menu-Movil img{
        width: 3rem;
        height: 3rem;
    }

    .footerRepro {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }



}
