@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow: auto;
    color: white;
    scrollbar-gutter: stable;
}

.swiper-pagination{
    --swiper-pagination-color: white;
    --swiper-pagination-bullet-size: 9px;
    --swiper-pagination-bullet-width: 9px;
    --swiper-pagination-bullet-height: 9px;
    --swiper-pagination-bullet-inactive-color: #b7b7b7;
    --swiper-pagination-bullet-inactive-opacity: 0.2;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 7px;
    --swiper-pagination-bullet-vertical-gap: 7px;
    --swiper-pagination-bottom: 75px;
}

.swiper-button-prev, .swiper-button-next{
    --swiper-navigation-size: 35px;
    --swiper-navigation-color: white;
}
